#h1-about {
  text-align: center;
  margin-top: 100px;
  text-decoration: underline;
  text-decoration-color: blueviolet;
  text-decoration-skip-ink: auto;
}
#img-about {
  margin-top: 100px;
}

#flex-about {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}

#text-flex {
  margin-top: 100px;
  margin-left: 50px;
}

p {
  margin-bottom: 30px;
}
