.button {
  color: white;
  padding: 4px;
  border: 0.5px solid grey;
  border-radius: 0px;
  width: 100px;
  height: 40px;
}
* {
  background-color: black;
  color: white;
  margin: 10px;
  padding: 0;
  font-family: Verdana;
}

#navbar {
  display: flex;
  justify-content: space-around;
  gap: 850px;
  align-items: center;
}
#list {
  display: flex;
  gap: 20px;
}

#list > li {
  list-style: none;
}
